{% capture c_mobile_cl %}grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endcapture %}

{% capture c_desktop_cl %}grid--{{ section.settings.columns_desktop }}-col-desktop{% endcapture %}

{% liquid
  assign c_mobile = section.settings.columns_mobile
  assign c_desktop = section.settings.columns_desktop

  assign cl = 'product-grid contains-card contains-card--product grid tw-flex ' | append: c_mobile_cl | append: ' ' | append: c_desktop_cl

  if show_mobile_slider
    assign cl = cl | append: ' <md:tw-flex-nowrap <md:tw-gap-0'
  else
    assign cl = cl | append: ' <md:tw-flex-wrap'
  endif

  if show_desktop_slider
    assign cl = cl | append: ' md:tw-flex-nowrap md:tw-gap-0'
  else
    assign cl = cl | append: ' md:tw-flex-wrap'
  endif

  if settings.card_style == 'standard'
    assign cl = cl | append: ' contains-card--standard'
  endif
%}

<div class='
    splide__track
    {% if section.settings.full_width == false %}page-width{% endif %}
    {% if section.settings.full_width and show_desktop_slider == false %}md:tw-px-page_desktop{% endif %}
    {% if section.settings.full_width and show_mobile_slider == false %}<md:tw-px-page_mobile{% endif %}
  '>
  <ul
    id='Slider-{{ section.id }}'
    class='splide__list {{ cl }}'
    role='list'
    aria-label='{{ 'general.slider.name' | t }}'
  >
    {%- for product in section.settings.collection.products
      limit: section.settings.products_to_show
    -%}
      <li
        id='Slide-{{ section.id }}-{{ forloop.index }}'
        class='
          splide__slide grid__item
          {% if show_mobile_slider == false %} <md:tw-m-0 {% endif %}
          {% if show_desktop_slider == false %} md:tw-m-0 {% endif %}
        '
      >
        {% render 'card-product',
          card_product: product,
          media_aspect_ratio: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          show_vendor: section.settings.show_vendor,
          show_rating: section.settings.show_rating,
          show_quick_add: section.settings.enable_quick_add,
          section_id: section.id
        %}
      </li>
    {%- else -%}
      {%- for i in (1..4) -%}
        <li class='grid__item splide_slide'>
          {% render 'card-product', show_vendor: section.settings.show_vendor %}
        </li>
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>
