{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px)
  {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round -}}
  px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw -
  10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

<div class='color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding'>
  {%- unless section.settings.title == blank -%}
    <div class='page-width page-width-max--{{ section.settings.page_width_max }}'>
      <div class='
          title-wrapper
          title-wrapper--no-top-margin
        '>
        <h2
          id='SectionHeading-{{ section.id }}'
          class='
            {{ section.settings.heading_size }}
            heading-style--{{ section.settings.heading_style }}
            heading-align--{{ section.settings.heading_align }}
          '
        >
          {{ section.settings.title | escape }}
        </h2>
      </div>
    </div>
  {%- endunless -%}

  {% comment %}  {% endcomment %}
  <div class='page-width page-width-max--{{ section.settings.page_width_max }} tw-flex tw-justify-center'>
    <div class='tw-inline-flex tw-gap-5 tw-flex-wrap tw-justify-center'>
      {% for block in section.blocks %}
        <div class='tw-max-w-[250px] md:tw-max-w-[150px]'>
          <a
            href='{{ block.settings.url }}'
            title='{{ block.settings.title }}'
          >
            {{
              block.settings.image
              | image_url: width: 1946
              | image_tag:
                loading: lazy,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
                alt: block.settings.title
              | escape
            }}

            <span class='tw-block tw-mt-2 tw-text-center'>
              {{ block.settings.title | escape }}
            </span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Link list flex"
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h4",
          "label": "Heading h4"
        },
        {
          "value": "h3",
          "label": "Heading h3"
        },
        {
          "value": "h2",
          "label": "Heading h2"
        },
        {
          "value": "h1",
          "label": "Heading h1"
        },
        {
          "value": "h0",
          "label": "Heading h0"
        }
      ],
      "default": "h1",
      "label": "heading_size"
    },
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "2",
          "label": "Style 2"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Heading alignment"
    },

    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "square",
      "label": "Image ratio",
      "info": "Select image ratio"
    },

    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },

    {
      "type": "checkbox",
      "id": "layout_fullwidth",
      "label": "Layout fullwidth",
      "default": false
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "page_width_max",
      "label": "Set max width",
      "options": [
        {
          "value": "",
          "label": "No limit"
        },
        {
          "value": "md",
          "label": "Medium"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image / Icon"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url",
          "info": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Link list flex",
      "category": "Link list"
    }
  ]
}
{% endschema %}
